.paper-heading{
    padding: 10px;
    width: 100%;
}
.select-option{
    margin: 10px;
    display: inline-flex;
}
.formControl{
    width: 160px;
}
.formControl-quantity{
    width: 70px;
}
.inline{
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto !important;
    top: 15%;

}
.menu{
    display: inline-block;
}
.delete-button-div{
    display: inline-block;
}
.table-dialogContent{
    min-height: 410px;
}
.select-inputs-tableOrder{
    text-align: center;
    margin-bottom: 10px; 
}
.typo-heading-table{
    color: black;
}
.amount-section{
    color: black;
    font-size: 1rem !important;
    font-weight: bold !important;
}
.test-print{
    display: none;
}
@media print {
    #responsive-dialog-title,.select-option,.auto-sugession,.ordered-data{
        display: none;
    }
}